@import "tailwindcss";

body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(0, 200, 255, 0.08),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(0, 150, 255, 0.06),
      transparent 40%
    ),
    #000000;

  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}